*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#050816;
color:#fff;
min-height:100vh;
}

.dashboard{
max-width:1200px;
margin:auto;
padding:20px;
}

.dashboard h1{
text-align:center;
font-size:36px;
color:#00e5ff;
margin-bottom:10px;
font-weight:700;
}

.dashboard p{
text-align:center;
color:#bdbdbd;
margin-bottom:30px;
}

.menu-grid{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:15px;
}

.menu-card{
background:#0d1730;
border:1px solid rgba(0,229,255,.15);
border-radius:20px;
padding:20px;

display:flex;
flex-direction:column;
justify-content:center;
align-items:center;

text-decoration:none;
color:white;

min-height:170px;

transition:all .3s ease;
}

.menu-card:hover{
transform:translateY(-5px);
box-shadow:0 0 20px rgba(0,229,255,.35);
}

.icon{
font-size:42px;
margin-bottom:12px;
}

.menu-card h3{
font-size:17px;
color:#00e5ff;
margin-bottom:8px;
text-align:center;
}

.menu-card p{
font-size:13px;
text-align:center;
color:#bdbdbd;
margin:0;
}

/* Tablet */

@media(min-width:768px){

.menu-grid{
grid-template-columns:repeat(3,1fr);
}

}

/* Small Android Phones */

@media(max-width:500px){

.dashboard{
padding:15px;
}

.dashboard h1{
font-size:28px;
}

.menu-grid{
gap:10px;
}

.menu-card{
padding:15px;
min-height:145px;
}

.icon{
font-size:34px;
}

.menu-card h3{
font-size:14px;
}

.menu-card p{
font-size:11px;
}

}
.hero-card{
background:linear-gradient(
135deg,
#0d1730,
#12264d
);

padding:25px;
border-radius:25px;

margin-bottom:25px;

text-align:center;

border:1px solid rgba(0,229,255,.2);
}

.hero-card h1{
color:#00e5ff;
margin-bottom:10px;
}

.hero-buttons{
display:flex;
justify-content:center;
gap:10px;
flex-wrap:wrap;
margin-top:15px;
}

.hero-btn{
background:#00e5ff;
color:black;
padding:12px 18px;
border-radius:30px;
font-weight:600;
text-decoration:none;
}
